body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.container-fluid{
    padding: 7% 15%;
  
}
/* Title-Section */
#title{
    background-color: #ff4c68;
    color: #ffff;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
  
}
h1,h2,h3{
    font-family:'Montserrat', sans-serif; 
}
p{
    color:#8f8f8f;
    font-family:'Montserrat', sans-serif;
    font-weight: lighter;
}
.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}
 /* Buttons */
 .download-button{
    margin: 5% 3% 5% 0;
 }
 /* title-image */
 .title-img{
    width: 21%;
    position: absolute;
    right: 20%;
    transform: rotate(25deg);
  
 }
 /* Features section */
 .col-lg-3{
    display: inline;
 }
 #features{
    background-color: #fff;

    position: relative;
    /* z-index: 1; */
 }
 .feature-box{
    padding: 4.5%;
    text-align: center;
}
 .icon{
    color: #ef8172;
    margin-bottom: 1rem;
    }
 .icon:hover{
    color:#ff4c68;
 }
 .feature-title{
    font-size: 1.5rem;
 }
 /* Testimonial Section */
 #testimonials{

    background-color:#ef8172;
    color: #ffff;

 }
 .testimonials-img{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
 }
 .testimonials-text{
   font-size: 3rem;
   line-height: 1.5; 
 }
 /* .carousel-item{
    padding :7% 15%;
 } */
 #press{
    background-color:#ef8172;
    padding-bottom: 3%;
 }
 .press-logo{
    width:15%;
    margin: 20px 20px 50px;
 }
 #pricing{
    padding: 100px;
 }
.pricing-col{
    padding :3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height:1.5;
}
/* CTA section */
#cta{
    background-color:#ff4c68;
    color:#fff;
}

/* Footer Section */

.social-icon{
   margin: 20px 10px; 
}

@media(max-width: 1028px) {
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

